.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5vw;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}
.header .logo svg {
  width: 12rem;

  @media (max-width: 768px) {
    width: auto;
    height: 6rem;
  }
}

.header ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header ul li {
  white-space: nowrap;
}

.header ul li a {
  font-weight: 500;
  &:hover {
    text-decoration: underline;
    color: rgb(229, 9, 20);
  }
}
